<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="C:\Users\subhani_anchula\Desktop\JavaScript\HM4\catController.js"></script>
<link rel="stylesheet" href="C:\Users\subhani_anchula\Desktop\JavaScript\HM4\bootstrap.css">

<body ng-app="catClick" ng-controller="catCickController as vm">
    <h1>HM4-CatClicker-Step1</h1>
    <div>
        <img ng-src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/140.jpg" ng-click="vm.myFunc()">
        <p>The Cat has been clicked {{vm.count}} times.</p>
    </div>
    <h1>HM4-CatClicker-Step2</h1>
    <div class="row">
        <div class="col-md-6">
            <span>Cat1</span><img ng-src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/138.jpg" ng-click="vm.catmyFunc1()"> cat1:{{vm.clickCount1}}
        </div>
        <div class="col-md-6">
            <span>Cat2</span><img ng-src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/286.jpg" ng-click="vm.catmyFunc2()"> cat2:{{vm.clickCount2}}
        </div>
    </div>
    <h1>HM4-CatClicker-Step3</h1>
        <div class="row">            
            <div class="col-md-6">
                <select ng-model="selectedName" ng-click="vm.selectedCat(selectedName);" ng-options="x.name for x in vm.cats"></select>
            </div>
        <div class="col-md-6">
            <img ng-src="{{selectedName.url}}" ng-click="vm.selecteCatClick()">
            <div>
                Name :{{selectedName.name}}
                Selected Cat clicks:{{vm.selectedCatClicks}}
                Total Clicks:{{vm.totalclicks}}
            </div>
        </div>
        </div>
        </body>

</html>