<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="./catController.js"></script>
<script src="./catService.js"></script>
<script src="./addCatDirective.js"></script>
<link rel="stylesheet" href="./bootstrap.css">
<link data-require="fontawesome@*" data-semver="4.1.0" rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />

<body ng-app="catViewer" ng-controller="catCickController as vm">
    
    <h1>HM4-CatClicker-Step1</h1>
    
    <div vote-spinner-directive></div>
    
    <h1>HM4-CatClicker-Step2</h1>
    
    <div class="row">
        <div class="input-group col-md-6 col-md-offset-1">
            <input class="form-control" ng-model="vm.searchText" placeholder="Search" type="search" />
            <span class="input-group-addon btn">
                <button class="fa fa-search" ng-click="vm.search()"></button>
                <select ng-model="sortBy">
                    <option value="+name">Ascending</option>
                    <option value="-name">descending</option>
                </select>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <ul>
                <li ng-repeat="cat in vm.Allcats  | orderBy:sortBy track by $index">
                    {{cat.name}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a ng-href ng-model="cat"><img ng-src="{{cat.url}}" alt=cat:{{$index+1}} class="imagesize" height="100px;"></a>
                    <span ng-show="cat.catViewed">
                        <i class="fa fa-check"></i>
                    </span>
                    <br />&nbsp;
                </li>
            </ul>
        </div>
    </div>
    
    <h1>HM4-CatClicker-Step3</h1>
    
    <div add-cat-directive></div>
    
</body>

</html>